SUPABASE_URL="https://suxefdglxjctttmvmbxg.supabase.co"
SUPABASE_PUBLISHABLE_KEY="sb_publishable_9YX14GLVV5UZJl11iVP4Rg_ifLO2doz"
SUPABASE_PROJECT_ID="suxefdglxjctttmvmbxg"
VITE_SUPABASE_URL="https://suxefdglxjctttmvmbxg.supabase.co"
VITE_SUPABASE_P6UBLISHABLE_KEY="sb_publishable_9YX14GLVV5UZJl11iVP4Rg_ifLO2doz"
VITE_SUPABASE_PROJECT_ID="suxefdglxjctttmvmbxg"
